#bigbox {
    width: 500px;
    margin: auto;
}

#init {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#target-text {
}

#target {
    width: 360px;
}

#textbox {
    width: calc(100% - 6px);
    height: 500px;
    font-family: monospace;
    text-wrap: nowrap;
}


#copy {
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 30px;
    border: 3px solid #73AD21;
    height: 40px;
    width: 60px;
}

#algebra {
    width: 100%;
}

#link {
    margin-left: 352px;
}
